.header{
  background-color: var(--dark);
  height: 50px;
}


.title{
  font-size:24px;
  color: var(--title-color);
}

.btns-container{
  height: 46px;
  display: flex;
  align-items: center;
}

.custom-btn{
  border: 1px solid var(--button-border);
  border-radius: 20px;
  background-color: transparent;
  padding: 8px 12px;
  text-align: center;
  color: var(--button-text);
  font-size: 12px;
  font-weight: 300;
}

.custom-btn:hover, .custom-btn:focus{
  background-color: var(--detail-secondary);
  color: var(--dark);
  font-weight: 300;
}

.reset-btn{
  border: none;
  background-color: transparent;
}

.dropdown-item{
  font-size: 14px;
  color: var(--font-color );
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.dropdown-item-text{
  font-size: 12px;
  color: var(--detail-title );
  font-weight: 400;
  display: flex;
  justify-content: center;
}
