table > thead> tr> th{
  font-size: 10px;
  color: var(--detail-color-secondary);
}

table > tbody> tr> th,td{
  font-size: 16px;
  color:var(--font-color);
  border-color:var(--detail-color-40);
  font-weight: 400;
}

button{
  background-color: transparent;
  border: none;
}


.table-group-divider
{border-color: var(--detail-color-secondary);}
